<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Portfolio website for Rob Kokochak - Software Engineer."/>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/style.css' | url | safe }}">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="content">
      {% include "header.njk" %}
      <main class="main container">
        {{ content | safe }}
      </main>
    </div>
    <div class="floating-buttons">
      {% include "floating-buttons.njk" %}  
    </div>
    {% include "footer.njk" %}
  </body>
</html>