<ul class="contacts-list">
  <li class="contacts-item">
    <div class="contacts__logo">
      <a href="mailto:robkokochak.dev@gmail.com" target="_blank">
        <img src="/images/Email.svg" width="32" height="32" alt="Email logo">
      </a>
    </div>
  </li>
  <li class="contacts-item">
    <div class="contacts__logo">
      <a href="https://www.linkedin.com/in/rob-kokochak/" target="_blank">
        <img src="/images/LinkedIn.svg" width="32" height="32" alt="LinkedIn logo">
      </a>
    </div>
  </li>
  <li class="contacts-item">
    <div class="contacts__logo">
      <a href="https://github.com/RobKokochak" target="_blank">
        <img src="/images/Github.svg" width="32" height="32" alt="GitHub logo">
      </a>
    </div>
  </li>
  <li class="contacts-item">
    <div class="contacts__logo">
      <a href="https://www.dropbox.com/scl/fi/frmgrlueyeiyxn4y5o1nv/Rob-Kokochak-Resume.pdf?rlkey=x2e24w6yodv922jv51n5ac1hd&dl=0" target="_blank">
        <img src="/images/cv.svg" width="32" height="32" alt="CV logo">
      </a>
    </div>
  </li>
</ul>
