<section class="profile">
  <div class="profile__image-wrapper">
    {% EleventyImage "/images/profile.jpeg", "Rob Kokochak - Software Engineer", "(min-width: 16em) 94vw, 100vw" %}
  </div>
  <div class="profile__card">
    <h2 class="profile__text profile__text--lead">Hello! My name is Rob Kokochak.</h2>
    <p class="profile__text">I'm a software engineer with experience in JavaScript, React, Python, and SwiftUI. I'm also comfortable working with SQL and NoSQL databases, C/C++ and Ruby.</p>
    <p class="profile__text">Recently, I graduated from the University of Michigan-Dearborn with a BS-Computer Science degree. For my senior project, I built a virtual personal-fitness assistant in React Native which interfaces via natural language, leveraging the ChatGPT API.</p>
  </div>
</section>