---
title: "About"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="about-me-heading">About Me</h2>
  <div class ="about-content">
    <p>Hi, my name is Rob. I'm a software engineer and recent Computer Science graduate from the University of Michigan-Dearborn.</p>
      
    <p>In addition to my coursework and projects at UM-D, I spent two summers as a Software Engineer Intern at Stellantis, where I gained experience building web applications
      with React and writing Python scripts for platform testing optimization.
    </p>
    
    <p>I initially studied jazz guitar in college, 
      and I spent a few years as a full-time musician/part-time barista before going back to school in 2020 to pursue a CS degree. This background influences 
      my approach to teamwork, problem-solving, and workplace-values, and gives me a unique perspective on the importance of
      being able to learn new skills and adapt to new environments.
    </p>

    <p>Fundamentally, I enjoy problem-solving and unpacking complexity, and an underlying curiosity to learn informs my approach to life and work. 
      My background in music gives me an appreciation for having a solid knowledge of fundamentals, and this extends to software engineering in turn.
    </p>
    
    <p>
      I'm currently looking for full-time software engineering opportunities. If you'd like to get in touch or to find out more about my background/experience, feel free to reach out via email or LinkedIn (links in the sidebar).
    </p>
  </div>
</section>