---
title: "About"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="about-me-heading">About Me</h2>
  <div class ="about-content">
    <p>Hello!</p>

    <p>My name is Rob. I'm a software engineer and recent Computer and Information Science graduate from the University of Michigan-Dearborn.</p>
      
    <p>In addition to my coursework and projects at UM-D, I spent two summers as a Software Engineer Intern at Stellantis, where I gained 
      experience building web applications with React and writing CI/CD scripts in Python for platform testing optimization.
    </p>
    
    <p>Initially studying jazz and music technology at the University of Cincinnati, I left in 2016 to pursue a career as a 
      full-time musician and audio engineer. Since then, I've played countless shows, moved to Los Angeles and then Detroit, 
      and held a vast array of professional roles both in and outside of music, including as a music teacher, live sound engineer, 
      and specialty-coffee barista.
    </p>

    <p>In 2018, I decided to go back to school, and was accepted into 
      the robust Music Technology program at Wayne State University in Detroit. It was here that I was exposed to 
      coding for the first time, discovering a knack for programming synthesizers and sound design applications. 
      For the first time, I felt empowered in knowing the ins and outs of the technology that I've been fascinated 
      by since I was a kid, and I was hooked. Inspired, I enrolled as a Computer Science minor in 2019 to bolster my Music Tech degree. 
    </p>

    <p>The pandemic of 2020 presented a unique opportunity for me - stuck at home and having lost all my gigs, 
      I made the difficult decision to go all in and transfer to the Computer Science department as a CS major. 
      I knew this would require an immense amount of study and prep just to transfer in to the program, along with 
      locking me in to a 3-year path to graduation. But after weighing the pros and cons of a bootcamp, I decided that 
      I couldn't miss the opportunity to study the fundamentals that I was so curious about. 
    </p>

    <p>After transferring to the University of Michigan-Dearborn in 2021, I completed my BS in Computer and 
      Information Science in December 2023, graduating with high distinction and having completed two internships 
      as a Software Engineer Intern at Stellantis along the way. 
    </p>

    <p>Fundamentally, I enjoy problem-solving and unpacking complexity, and my resilience combined with an insatiable 
      curiosity to learn characterizes my approach to life and work. My background in music informs my approach to teamwork, 
      leadership, and mentorship, and what it means to be a lifelong learner - all of which inform my approach to software engineering in turn.
    </p>
    
    <p>
      I'm currently looking for full-time software engineering opportunities. If you'd like to get in touch or 
      to find out more about my background/experience, feel free to reach out via email or LinkedIn (links in the sidebar).
    </p>
  </div>
</section>